
<mat-toolbar>
    <span>Employee Registration</span>
    <mat-icon (click)="emp()" >cancel icon</mat-icon>
  </mat-toolbar>
  
  <div class="box">
    <mat-form-field appearance="fill">
      <mat-label>Name*</mat-label>
      <input matInput placeholder="Name">

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Emp_id*</mat-label>
        <input matInput placeholder="Emp_id*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Father name</mat-label>
        <input matInput placeholder="Father name">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone no*</mat-label>
        <input matInput placeholder="Phone no*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email_id*</mat-label>
        <input matInput placeholder="Email_id*"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password*</mat-label>
        <input matInput placeholder="Password*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Village*</mat-label>
        <input matInput placeholder="Village">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Post*</mat-label>
        <input matInput placeholder="Post*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>District*</mat-label>
        <input matInput placeholder="District*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>State*</mat-label>
        <input matInput placeholder="State*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pin*</mat-label>
        <input matInput placeholder="Pin*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Signature*</mat-label>
        <input matInput placeholder="Signature*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Photo*</mat-label>
        <input matInput placeholder="Photo*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Document type*</mat-label>
        <input matInput placeholder="Document type*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Document no*</mat-label>
        <input matInput placeholder="Document no*">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Document upload*</mat-label>
        <input matInput placeholder="Document upload*">
      </mat-form-field>
      </div>

      <button mat-raised-button color="accent">Reset</button>
      <button mat-raised-button color="accent">Submit</button>
   
