<mat-toolbar>
  <span>Employee Details</span>
   <mat-icon (click)="employeere()">add_circle </mat-icon>
   </mat-toolbar>

    <mat-toolbar class="notification">
    <span class="notice_text">Total : {{total_count}}</span>
     <input type="text" placeholder="Search" class="search" matInput (keyup)="applyFilter($event)" #input>
     </mat-toolbar>

 <table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
      <ng-container matColumnDef="sn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>S.N.</th>
      <td mat-cell *matCellDef="let row; let i = index">{{(i+1)}}</td>    
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="emp_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.emp_name}} </td>
       </ng-container>
  
       <!-- email_id Column -->
      <ng-container matColumnDef="emp_email	">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.emp_email	}} </td>
      </ng-container>
  
    <!-- Document Column -->
       <ng-container matColumnDef="phoneno">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
       <td mat-cell *matCellDef="let element"> {{element.phoneno}} </td>
       </ng-container>

       <!-- photo column -->
       <ng-container matColumnDef="emp_img">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
       <td mat-cell *matCellDef="let row"> 
       <img [src]="(row.emp_img)?$img_local_url + row.emp_img:$img_local_url + 'logo.png' " width="80" height="80">
       </td>
       </ng-container>
  
  
        <!-- Action Column -->
       <ng-container matColumnDef="action">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
       <td mat-cell *matCellDef="let element"><mat-icon></mat-icon> </td>
       <mat-icon style="cursor: pointer;">edit</mat-icon>
       </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

  
  