
<mat-toolbar>
    <span>Credit Score Registration</span>
    <mat-icon (click)="cred()">cancel icon</mat-icon>
  </mat-toolbar>
  <div class="box">
    <mat-form-field appearance="fill">
        <mat-label>Credit score_id*</mat-label>
        <input matInput placeholder="Credit score_id*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Score*</mat-label>
        <input matInput placeholder="Score*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Offer*</mat-label>
        <input matInput placeholder="Offer*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount*</mat-label>
        <input matInput placeholder="Amount*"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Length History*</mat-label>
        <input matInput placeholder="Length History*">
      </mat-form-field>
    </div>

      <button mat-raised-button color="accent">Reset</button>
      <button mat-raised-button color="accent">Submit</button>
   

