
<mat-toolbar>
  <span>Loan Registration</span>
  <mat-icon (click)="loan()">cancel icon</mat-icon>
</mat-toolbar>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Name*</mat-label>
    <input matInput placeholder="Name">

  </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>Loan_id*</mat-label>
      <input matInput placeholder="Loan_id*">

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>percentage*</mat-label>
      <input matInput placeholder="percentage*">

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Loan no*</mat-label>
      <input matInput placeholder="Loan no*">

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Duration</mat-label>
      <input matInput placeholder="Duration"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date*</mat-label>
      <input matInput placeholder="Date*">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Insterset*</mat-label>
      <input matInput placeholder="Insterset*">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Install*</mat-label>
      <input matInput placeholder="Install*">
    </mat-form-field>
  </form>>  

  <span>
    <button mat-raised-button style="background: red;">Reset</button>
    <button mat-raised-button style="background: green;">Submit</button>
 </span>
