<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon button with a menu icon">
  <mat-icon>menu</mat-icon> 
</button>
<h1 style="padding-left: 10px; margin-top: 20px;">ApnaBank</h1>
<span style="margin-left: 75%; display: flex;">Logi As:Customer</span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    <div class="box"routerLink="dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </div>
    <div class="box"routerLink="loan" routerLinkActive="active">
        <mat-icon>account_balance</mat-icon>
        <span>Loan</span>
    </div>
    <div class="box"routerLink="due" routerLinkActive="active">
        <mat-icon>moneybag</mat-icon>
        <span>Due</span>
    </div>
    <div class="box"routerLink="deposit" routerLinkActive="active">
        <mat-icon>real_estate_agent</mat-icon>
        <span>Deposit</span>
    </div>
    <div class="box"routerLink="withdrawal" routerLinkActive="active">
        <mat-icon>payments</mat-icon>
        <span>Withdrawal</span>
    </div>
  </mat-drawer>
<router-outlet></router-outlet>
</mat-drawer-container>

