
<mat-toolbar>
    <span>Deposite Registration</span>
    <mat-icon (click)="dep()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <form [formGroup]="dep_form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="dep_name" matInput placeholder="Name">

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input formControlName="dep_date" matInput placeholder="Date">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input formControlName="dep_amount" matInput placeholder="Amount">

      </mat-form-field>
      <input formControlName="emp_id_fk" readonly hidden>
      <input formControlName="admin_id_fk" readonly hidden>
    </form>
    <span>
      <button mat-raised-button style="background: red;">Reset</button>
      <button mat-raised-button style="background: green;"(click)="onsubmit()">Submit</button>
   </span>


