
<mat-toolbar>
    <span>Due  Registration</span>
    <mat-icon (click)="due()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <div class="box">
    <mat-form-field appearance="fill">
      <mat-label>Emp-id*</mat-label>
      <input matInput placeholder="Emp-id">

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Date*</mat-label>
        <input matInput placeholder="Date*">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount">
      </mat-form-field>
  </div>

      <button mat-raised-button color="accent">Reset</button>
      <button mat-raised-button color="accent">Submit</button>
  

