<div class="box">
       <span>Employee </span>
    <mat-icon>peoples</mat-icon>
</div>
<div class="box">
    <span>Customer</span>
 <mat-icon>diversity_3</mat-icon>
</div>
<div class="box">
   <span> Loan</span>
 <mat-icon>account_balance</mat-icon>
</div>
<div class="box">
   <span> Credit score</span>
 <mat-icon>credit_score</mat-icon>
</div>
<div class="box">
   <span> Due</span>
 <mat-icon>moneybag</mat-icon>
</div>
<div class="box">
   <span> E_salary</span>
 <mat-icon>receipt</mat-icon>
</div>
<div class="box">
   <span>  Deposit</span>
 <mat-icon>real_estate_agent</mat-icon>
</div>
<div class="box">
    <span>withdrawal</span>
 <mat-icon>payments</mat-icon>
</div>
