.loginbox{
    width: 350px;
    height: 450px;
    background:rgba(0, 0, 0, 0.442);
    color:white;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 60px;
    border-radius: 5%; 
    cursor:pointer;
}
button{
    margin-left: 20px;
}