<a [routerLink]="['../loan']">
  <mat-card class="example-card">
    <mat-card-content>
       <span> Loan</span><br><br>
       66
       <mat-icon>account_balance</mat-icon>
    </mat-card-content>
  </mat-card>
  </a>
<a [routerLink]="['../due']">
  <mat-card class="example-card">
    <mat-card-content>
       <span> Due</span><br><br>
       0
       <mat-icon>moneybag</mat-icon>
    </mat-card-content>
  </mat-card>
  </a>
<a [routerLink]="['../deposit']">
  <mat-card class="example-card">
    <mat-card-content>
       <span> Deposit</span><br><br>
       0
  <mat-icon>real_estate_agent</mat-icon>
    </mat-card-content>
  </mat-card>
  </a>
<a [routerLink]="['../withdrawal']">
  <mat-card class="example-card">
    <mat-card-content>
       <span>withdrawal</span><br><br>
       0
       <mat-icon>payments</mat-icon>
    </mat-card-content>
  </mat-card>
  
  
