
<mat-toolbar>
    <span>Withdrawal Registration</span>
    <mat-icon (click)="with()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <div class="box">
    <mat-form-field appearance="fill">
      <mat-label>With_id*</mat-label>
      <input matInput placeholder="With_id*">

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Date">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amaount</mat-label>
        <input matInput placeholder="Amount">
      </mat-form-field>
      </div>

      <button mat-raised-button color="accent">Reset</button>
      <button mat-raised-button color="accent">Submit</button>
   


