mat-toolbar{
    background-color: rgb(32,32,32);
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
  }

div{
    margin-top: 30px;
    float: left;
  }
mat-form-field{
    width: 20.3%;
    margin-left: 50px;
     right: 20%;
    float: left;
  }
  button{
 left: 35%;
 margin-left: 10px;
 top: 45vh
  }

  @media(min-width: 1020px) and (max-width: 1920px){
    /* button{
      left: 35%;
      margin-left: 10px;
      top: 50vh
       } */
  }




  