
<mat-toolbar>
    <span>Loan Registration</span>
    <mat-icon (click)="loan()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <form [formGroup]="loan_form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="loan_name" matInput placeholder="Name">
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Loan_id</mat-label>
        <input matInput placeholder="Loan_id*">
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input formControlName="loan_amo" matInput placeholder="Amount">

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Loan no</mat-label>
        <input formControlName="loan_no" matInput placeholder="Loan no">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Duration</mat-label>
        <mat-select>
          <mat-option *ngFor="let loan_duration of loan_duration" [value]="loan_duration">{{loan_duration}}</mat-option>
         </mat-select>
        <!-- <input formControlName="loan_duration"  matInput placeholder="Duration"> -->
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input formControlName="loan_date" matInput placeholder="Date">
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="loan_date" matStartDate placeholder="Start date">
          <input formControlName="loan_date" matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      
      

      <mat-form-field appearance="fill">
        <mat-label>Insterset</mat-label>
        <input formControlName="loan_intrest" matInput placeholder="Insterset">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Install</mat-label>
        <input formControlName="loan_installment" matInput placeholder="Install">
      </mat-form-field>
      <input formControlName="cust_id_fk" readonly hidden>
      <input formControlName="emp_id_fk" readonly hidden>
      <input formControlName="admin_id_fk" readonly hidden>
    </form>
    <span>
      <button mat-raised-button style="background: red;">Reset</button>
      <button mat-raised-button style="background: green;" (click)="onsubmit()">Submit</button>
    </span>
