
<mat-toolbar>
    <span>Employee salary Registration</span>
    <mat-icon (click)="Esal()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <div class="box">
    <mat-form-field appearance="fill">
      <mat-label>Emp_id</mat-label>
      <input matInput placeholder="Emp_id">

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Emp_salary</mat-label>
        <input matInput placeholder="Emp_salary">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Date">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Incentive</mat-label>
        <input matInput placeholder="Incentive">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Expense</mat-label>
        <input matInput placeholder="Expense">
      </mat-form-field>
      
      </div>

      <button mat-raised-button color="accent">Reset</button>
      <button mat-raised-button color="accent">Submit</button>
   

