
<mat-toolbar>
    <span>Employee salary Registration</span>
    <mat-icon (click)="salary()">cancel icon</mat-icon>
  </mat-toolbar>
  
  <form [formGroup]="employeesalary_form">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Emp_id</mat-label>
      <input formControlName="emp_sal_id" matInput placeholder="Emp_id">

    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="emp_name" matInput placeholder="Name">
      </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>salary</mat-label>
        <input formControlName="emp_salary_amount" matInput placeholder="salary">
        </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

      <mat-form-field appearance="fill">
        <mat-label>Incentive</mat-label>
        <input formControlName="insentive"  matInput placeholder="Incentive">

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Expense</mat-label>
        <input formControlName="emp_expence" matInput placeholder="Expense">
      </mat-form-field>
      <input formControlName="admin_id_fk" readonly hidden>
    </form>

     <span>
        <button mat-raised-button style="background: red;">Reset</button>
        <button mat-raised-button style="background: green;"(click)="onsubmit()">Submit</button>
     </span>

